li {
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background:rgb(36, 36, 36);
  }
  
  .form-group {
    margin-bottom: 5px;
    color: white;
  }
  
  .center {
    text-align: center;
  }

  input[type=text] {
    background-color: black;
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
  }