li {
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(131, 131, 131);
  }
  
  .form-group {
    margin-bottom: 5px;
    background-color:grey;
  }
  
  .center {
    text-align: center;
  }
  
  .background {
    background-color: rgb(130, 130, 130);
  }